<template>
    <div>
        <form @submit="validateForm" class="container" style="padding: 1rem;">
            <div class="field columns is-centered">
                <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                    <div class="card-content" style="padding-top: 1rem;">
                        <span class="subtitle is-5 has-text-info">Edit Password</span>
                        <hr style="margin-top :0.5rem;">
                            <label>New Password</label>
                            <div class="field">
                                <input v-model="newPassword" class="input control" type="password" placeholder="New Password">
                                <p class="help is-danger">{{ errNewPassword }}</p>
                            </div>
                            <label>Confirm Password</label>
                            <div class="field">
                                <input v-model="confirmPassword" class="input control" type="password" placeholder="Retype Password">
                                <p class="help is-danger">{{ errPasswordConfirm }}</p>
                            </div>
                            <button @click="validateForm" class="is-button button is-info is-outlined">Update Password</button>
                    </div>
                </div>
            </div>
        </form>
        <ConfirmPasswordChange ref="confirmChange"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        IUser,
    } from '@/core/AppConfig';
    import ConfirmPasswordChange from './ConfirmPasswordChange.vue';

    export interface IName {
        firstName: string;
        lastName: string;
    }

    @Component({
        components: {
            ConfirmPasswordChange,
        },
    })
    export default class ChangePassword extends Vue {
        public $refs!: {
            confirmChange: ConfirmPasswordChange,
        };
        private newPassword: string = '';
        private confirmPassword: string = '';
        private errNewPassword: string = '';
        private errPasswordConfirm: string = '';

        private async validateForm(element: HTMLFormElement) {
            element.preventDefault();
            this.errNewPassword = this.errPasswordConfirm = '';
            if (this.newPassword.length < 6) {
                this.errNewPassword = 'Password must at least 6 characters.';
            }
            if (this.newPassword !== this.confirmPassword) {
                this.errPasswordConfirm = 'Passwords do not match.';
            }
            if (this.errNewPassword || this.errPasswordConfirm) {
                return;
            }
            this.$refs.confirmChange.show(this.newPassword);
        }
    }
</script>