<template>
    <div v-bind:class="{'is-active': modal}" class="modal">
        <div @click="modal=false" class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                <form @submit="applyPasswordChange" class="field columns is-centered">
                    <div class="column is-half-desktop is-full-mobile is-two-thirds-tablet">
                        <span class="subtitle is-6 has-text-info">Verify current password to apply changes</span>
                        <hr class="modal-header-seperator">
                        <div class="field">
                            <label>Enter Current Password</label>
                            <input v-model="password" class="input control" type="password" placeholder="Password">
                            <p class="help is-danger">{{ errPassword }}</p>
                        </div>
                        <div class="field is-grouped">
                            <p class="control">
                                <button @click="applyPasswordChange" class="is-button button is-info is-outlined">Apply Changes</button>
                            </p>
                            <p class="control">
                                <a @click="modal=false" class="is-button button">Cancel</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        changeName,
        verifyPassword,
        changePassword,
    } from '@/core/FBUpdateMethods';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';

    import ModalSkeleton from '@/components/settings/profile/ModalSkeleton.vue';

    @Component({
        components: {
            ModalSkeleton,
        },
    })
    export default class ConfirmPasswordChange extends ModalSkeleton {
        private password: string = '';
        private newPassword: string = '';
        private email: string = '';
        private errPassword: string = '';

        public show(newPassword: string) {
            this.newPassword = newPassword;
            this.modal = true;
        }
        private async beforeCreate() {
            const user = await getUserInfo(this.$store.state.uid);
            this.email = user.email;
        }
        private async applyPasswordChange(element: HTMLFormElement) {
            element.preventDefault();
            this.errPassword = '';
            const user = await verifyPassword(this.email, this.password).catch((err) => {
                this.errPassword = 'Invalid password.';
            });
            if (this.errPassword) {
                return;
            }
            await changePassword(this.newPassword).catch((err) => {
                this.errPassword = err;
            });
            if (!this.errPassword) {
                this.modal = false;
            }
        }
    }
</script>