<template>
    <div>
        <NavbarMobile v-if="windowWidth < 768"/>
        <Navbar v-else/>
        <div class="spacer4"></div>
        <router-view></router-view>
    </div>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import Navbar from '@/components/dashboard/navbar/Navbar.vue';
    import NavbarMobile from '@/components/dashboard/navbar/NavbarMobile.vue';


    @Component({
        components: {
            Navbar,
            NavbarMobile,
        },
    })

    export default class Home extends Vue {
        private windowWidth = window.innerWidth;
        private mounted() {
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth;
            });
        }
        private beforeCreate() {
            if (!this.$store.state.loggedIn) {
                this.$router.push({name: 'welcome'});
            }
        }
    }
</script>