<template>
    <div>
        <Navbar/>
        <div class="spacer4"></div>
        <router-view></router-view>
    </div>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import Navbar from '@/components/settings/navbar/Navbar.vue';

    @Component({
        components: {
            Navbar,
        },
    })
    export default class Home extends Vue {
        private beforeCreate() {
            if (!this.$store.state.loggedIn) {
                this.$router.push({name: 'welcome'});
            }
        }
        // private windowWidth = window.innerWidth;
        // private mounted() {
        //     window.addEventListener('resize', () => {
        //         this.windowWidth = window.innerWidth;
        //     });
        // }
    }
</script>