<template>
    <div>
        <LoginRegister/>
        <a class='button' @click='testDash'>Dash</a>
    </div>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import LoginRegister from '@/components/login-register/LoginRegister.vue';
    import { auth } from '@/core/AppConfig';
 
    @Component({
        components: {
            LoginRegister,
        },
    })

    export default class Home extends Vue {
        /**
         * testDash
         */
        public testDash() {
            this.$router.push({name: 'home'});
        }

        private beforeCreate() {
            if (this.$store.state.loggedIn) {
                this.$router.push({name: 'home'});
            }
        }
    }
</script>