<template>
    <div style="margin: 1rem;">
        <PostForm/>
        <div v-if="hasPrivateKey">
            <template v-for="post in posts">
                <Post :key="post.id" :firstName="post.firstName" :lastName="post.lastName" :date="post.date" :postContent="post.content"/>
            </template>
            <a v-show="!allPostsRendered" @click="loadMorePosts" class="columns is-centered is-mobile" >
                <u class="is-text has-text-link button" style="margin:1rem; padding: 1rem">Load More Posts</u>   
            </a>
            <div v-show="allPostsRendered" class="columns is-centered is-mobile">
                <span style="margin:1rem; padding: 1rem">That's All the Posts</span>   
            </div>   
        </div>
        <div v-else>
            
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        getUserPostsSQL,
    } from '@/core/SQLMethods';
    import {
        getPostLocally,
        savePostLocally,
    } from '@/core/IDBMethods';
    import {
        IPost,
        IUser,
    } from '@/core/AppConfig';
    import {
        getEncryptedPost,
        getPublicAndSymmetricKey,
        getSharedKey,
        getUserByUID,
    } from '@/core/FirebaseMethods';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import PostForm from '@/components/dashboard/home/PostForm.vue';
    import Post from '@/components/dashboard/home/Post.vue';
    import Home from '@/components/dashboard/home/Home.vue';

    import {
        arrayToString,
        retrievePrivateKey,
        stringToArray,
        decryptData,
        IEncryptedPackage,
        decryptSharedKey,
    } from '@/core/Cryptography';

    @Component({
        components: {
            PostForm,
            Post,
        },
    })
    export default class PostContainer extends Vue {
        protected hasPrivateKey!: boolean;
        protected allPostsRendered = false;
        protected pageOffset = 0;
        // interval offset.
        protected postOffset = 0;
        // number of posts shown on each interval.
        protected increment = 10;
        protected postIDs: string[] = [];
        protected posts: IPost[] = [];
        protected uid!: string;
        protected myPrivateKey!: Uint8Array;
        protected myPublicKey!: Uint8Array;
        protected decoder = new TextDecoder();

        protected async created() {
            this.hasPrivateKey =  this.$store.state.hasPrivateKey;
            if (!this.hasPrivateKey) {
                return;
            }
            this.$on('newPost', (postID: string) => {
                this.renderPost(postID, true);
            });
            this.uid = this.$store.state.uid;
            const myPrivateKeyPackage = await retrievePrivateKey(this.uid).catch((err: Error) => {
                console.log('Something went wrong getting protected key package.');
            }) as IEncryptedPackage;
            const myPublicAndLocalSymmetricKeys = await getPublicAndSymmetricKey(this.uid).catch((err) => {
                console.log('Something went wrong getting public and local symmetric keys.');
            });
            this.myPublicKey = stringToArray(myPublicAndLocalSymmetricKeys.publicKey);
            const mySymmetricKey = stringToArray(myPublicAndLocalSymmetricKeys.localSymmetricKey);
            this.myPrivateKey = decryptData(myPrivateKeyPackage, mySymmetricKey) as Uint8Array;
            await this.init();
        }

        /**
         * Placeholder to set additional initial variables in child classes.
         */
        protected async init() {
            return;
        }

        /**
         * Renders posts if more are available.
         */
        protected async loadMorePosts() {
            // checking if we already rendered all the posts in our ID list.
            // if not, we render the rest of it in increments of 10.
            if ((this.postOffset * this.increment) < this.postIDs.length) {
                await this.incrementPosts();
                return;
            }

            // checking if we rendered all of the posts.
            // the only time the postIDs should have less than 100 elements
            // is if we exhausted the database of all posts.
            if (this.postIDs.length < 100) {
                this.allPostsRendered = true;
                return;
            }

            // if we exhausted our list of post IDs and our list was of size 100,
            // there's probably more posts we can fetch so we replenish our post ID list.
            this.pageOffset += 1;
            this.postOffset = 0;
            this.postIDs = await getUserPostsSQL(this.uid, this.pageOffset);
        }

        /**
         * Gets a each post in chronological order either from local database
         * or from the cloud if its not stored locally. Then we add it to our data
         * structure to be rendered and store it locally for future use.
         */
        protected async incrementPosts() {
            const currentOffset = this.postOffset * this.increment;
            // this is to avoid index out of bounds error. we don't want the offset
            // to be larger than our actual number of posts.
            const maxOffset = Math.min(currentOffset + this.increment, this.postIDs.length);
            for (let i = currentOffset ; i < maxOffset; i++) {
                const currPostID = this.postIDs[i];
                await this.renderPost(currPostID);
            }
            this.postOffset += 1;
        }

        /**
         * Placeholder class. Child classes render posts differently.
         */
        protected async renderPost(postID: string, newPost?: boolean) {
            return;
        }
    }
</script>