<template>
    <div>
        <div class="columns is-centered" >
            <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img id="userAvatar" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ firstName }} {{ lastName }}</p>
                        </div>
                    </div>

                    <div class="content">
                        {{ postContent }}
                        <br>
                        <time> {{ date }} </time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
        Prop,
    } from 'vue-property-decorator';

    @Component
    export default class Post extends Vue {
        @Prop() private firstName!: string;
        @Prop() private lastName!: string;
        @Prop() private date!: string;
        @Prop() private postContent!: string;
    }
</script>