<template>
    <div class="columns is-tablet is-centered">
        <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
            <div class="field">
                <label class="label">Make a Post</label>
                <div class="control">
                    <textarea v-model="postContent" :disabled="!hasPrivateKey" class="textarea" placeholder="What's the move?"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button @click="makePost" :disabled="!hasPrivateKey" class="button is-link">Post</button>
                </div>
                <span v-show="!postContent && pressedButton" class="has-text-danger">Text field is empty.</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        retrievePrivateKey,
        stringToArray,
        decryptSharedKey,
        IEncryptedPackage,
        decryptData,
        encryptData,
    } from '@/core/Cryptography';
    import {
        getPublicKey,
        getSharedKey,
        getPublicAndSymmetricKey,
        saveEncryptedPost,
    } from '@/core/FirebaseMethods';

    @Component
    export default class PostForm extends Vue {
        private hasPrivateKey: boolean = this.$store.state.hasPrivateKey;
        private uid = this.$store.state.uid;
        private postContent = '';
        private pressedButton = false;

        private async makePost() {
            if (!this.postContent) {
                this.pressedButton = true;
                return;
            }
            const encoder = new TextEncoder();

            const myPrivateKeyPackage = await retrievePrivateKey(this.uid).catch((err) => {
                console.log('Something went wrong while retrieving my private key.');
            }) as IEncryptedPackage;
            const myPublicKeyAndSymmetricKeys = await getPublicAndSymmetricKey(this.uid).catch((err) => {
                console.log('Something went wrong while getting my public key');
            });
            const myPublicKey = stringToArray(myPublicKeyAndSymmetricKeys.publicKey as string);
            const myLocalSymmetricKey = myPublicKeyAndSymmetricKeys.localSymmetricKey as string;
            const myPrivateKey = decryptData(myPrivateKeyPackage, myLocalSymmetricKey) as Uint8Array;
            const mySharedKeyPackage = await getSharedKey(this.uid, this.uid).catch((err) => {
                console.log('Something went wrong while getting my shared key.');
            }) as IEncryptedPackage;
            const mySharedKey = decryptSharedKey(mySharedKeyPackage, myPublicKey, myPrivateKey) as Uint8Array;
            const postArray = encoder.encode(this.postContent);
            const encryptedPost = encryptData(postArray, mySharedKey);
            const postID = await saveEncryptedPost(this.uid, encryptedPost).catch((err) => {
                console.log('Something went wrong while adding post to NoSQL database.');
            }) as string;

            await this.notifyParent(postID);
        }

        private async notifyParent(postID: string) {
            this.$parent.$emit('newPost', postID);
        }
    }
</script>