<template>
    <div v-bind:class="{'is-active': this.modal}" class="modal">
        <div @click="modal = false" class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Log out</p>
                <button @click="modal = false" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                Are you sure you want to log out?
            </section>
            <footer class="modal-card-foot">
                <button @click="logOut" class="button is-outlined is-danger">Log out</button>
                <button @click="modal=false" class="button">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';

    import {
        auth,
    } from '@/core/AppConfig';

    @Component
    export default class Logout extends Vue {
        private modal = false;

        public show() {
            this.modal = true;
        }
        private async logOut() {
            await auth.signOut().catch((err) => {
                console.log('Something went wrong when trying to log out.');
                console.log(err);
            });
            this.$store.commit('logOut');
            this.$router.push('/');
        }
    }
</script>