<template>
    <div>
        <nav class="navbar navbar-item tabs is-fixed-top">
            <ul class="is-left">
                <li v-bind:class="{ 'is-active' : selection.home}">
                    <a @click="selected('home')">
                        <span class="icon ">
                            <i class="icon ion-md-home" aria-hidden="true"></i>
                        </span>
                        <span>Home</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' :  selection.messages}">
                    <a @click="selected('messages')">
                        <span class="icon ">
                            <i class="icon ion-md-mail" aria-hidden="true"></i>
                        </span>
                        <span>Messages</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' :  selection.search}">
                    <a @click="selected('search')">
                        <span class="icon ">
                            <i class="icon ion-md-search" aria-hidden="true"></i>
                        </span>
                        <span>Search</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' :  selection.profile}">
                    <a @click="selected('profile')">
                        <span class="icon ">
                            <i class="icon ion-md-person" aria-hidden="true"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
            <ul class="is-right">
                <li>
                    <router-link role="button" :to="{name: 'settings'}">
                        <span class="icon">
                            <i class="icon ion-md-cog" aria-hidden="true"></i>
                        </span>
                        <span>Settings</span>
                    </router-link>
                </li>
                <li>
                    <a class="danger-tab" role="button" @click="logOut">
                        <span class="icon">
                            <i class="icon ion-md-exit" aria-hidden="true"></i>
                        </span>
                        <span>Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <Logout ref="logoutComponent"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import Logout from './Logout.vue';
    import NavbarSkeleton from './NavbarSkeleton.vue';

    @Component({
        components: {
            Logout,
        },
    })
    export default class Navbar extends NavbarSkeleton {
        private mounted() {
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth;
            });
        }
    }
</script>