<template>
    <div>
        <nav class="navbar is-transparent is-fixed-top">
            <div class="navbar-brand navbar-item" style="display: flex">
                <a class="navbar-link" @click="selected('home')" v-bind:class="{ 'is-active' :  selection.home}">
                    <span class="icon ">
                        <i class="icon ion-md-home" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="navbar-link" @click="selected('messages')" v-bind:class="{ 'is-active' :  selection.messages}">
                    <span class="icon ">
                        <i class="icon ion-md-mail" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="navbar-link" @click="selected('search')" v-bind:class="{ 'is-active' :  selection.search}">
                    <span class="icon ">
                        <i class="icon ion-md-search" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="navbar-link" @click="selected('profile')" v-bind:class="{ 'is-active' :  selection.profile}">
                    <span class="icon ">
                        <i class="icon ion-md-person" aria-hidden="true"></i>
                    </span>
                </a>

                <a id="hamburger" @click="menuActive = !menuActive" v-bind:class="{ 'is-active': menuActive}" data-target="navMenu" class="navbar-burger navbar-link"
                    aria-label="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div v-if="menuActive" v-bind:class="{ 'is-active' : menuActive}" id="navMenu" class="navbar-menu tabs">
                <li>
                    <router-link role="button" :to="{name: 'settings'}">
                        <span class="icon">
                            <i class="icon ion-md-cog" aria-hidden="true"></i>
                        </span>
                        <span>Settings</span>
                    </router-link>
                </li>
                
                <li>
                    <a class="danger-tab" role="button" @click="logOut">
                        <span class="icon">
                            <i class="icon ion-md-exit" aria-hidden="true"></i>
                        </span>
                        <span>Log out</span>
                    </a>
                </li>
            </div>
        </nav>
        <Logout ref="logoutComponent"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
    } from 'vue-property-decorator';
    import Logout from './Logout.vue';
    import NavbarSkeleton from './NavbarSkeleton.vue';

    interface ITabSelection {
        home: boolean;
        messages: boolean;
        search: boolean;
        profile: boolean;
    }

    @Component({
        components: {
            Logout,
        },
    })
    export default class NavbarMobile extends NavbarSkeleton {
        private menuActive = false;
        private mounted() {
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth;
            });

            // this is to close the modal if clicked outside the modal area.
            window.addEventListener('click', (event: Event) => {
                const target = event.target as HTMLElement;
                if ((!target.id || target.id !== 'navMenu') && target.id !== 'hamburger') {
                    this.menuActive = false;
                }
            });
        }
    }
</script>