<template>
    <div>
        <form @submit="validateForm" class="container" style="padding: 1rem;">
            <div class="field columns is-centered">
                <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                    <div class="card-content" style="padding-top: 1rem;">
                        <span class="subtitle is-5 has-text-info">Edit Name</span>
                        <hr style="margin-top :0.5rem;">
                            <label>First Name</label>
                            <div class="field">
                                <input v-model="firstName" class="input control" type="text" placeholder="First Name">
                                <p class="help is-danger">{{ errFirstName }}</p>
                            </div>
                            <label>Last Name</label>
                            <div class="field">
                                <input v-model="lastName" class="input control" type="text" placeholder="Last Name">
                                <p class="help is-danger">{{ errLastName }}</p>
                            </div>
                            <button @click="validateForm" class="is-button button is-info is-outlined">Update Name</button>
                    </div>
                </div>
            </div>
        </form>
        <ConfirmNameChange ref="confirmChange"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        IUser,
    } from '@/core/AppConfig';
    import ConfirmNameChange from './ConfirmNameChange.vue';

    export interface IName {
        firstName: string;
        lastName: string;
    }

    @Component({
        components: {
            ConfirmNameChange,
        },
    })
    export default class ChangeName extends Vue {
        public $refs!: {
            confirmChange: ConfirmNameChange,
        };
        private firstName: string = '';
        private lastName: string = '';
        private errFirstName: string = '';
        private errLastName: string = '';
        private userInfo!: IUser;
        private uid!: string;

        private async beforeCreate() {
            this.uid = this.$store.state.uid;
            this.userInfo = await getUserInfo(this.uid);
            this.firstName = this.userInfo.firstName;
            this.lastName = this.userInfo.lastName;
        }

        private async validateForm(element: HTMLFormElement) {
            this.firstName = this.firstName.trim();
            this.lastName = this.lastName.trim();

            element.preventDefault();
            this.userInfo = await getUserInfo(this.uid); // refresh user info in case it was changed.
            if (!this.firstName) {
                this.errFirstName = 'First name is required.';
            } else {
                this.errFirstName = '';
            }
            if (!this.lastName) {
                this.errLastName = 'Last name is required.';
            } else {
                this.errLastName = '';
            }
            if (this.firstName === this.userInfo.firstName && this.lastName === this.userInfo.lastName) {
                this.errFirstName = this.errLastName = 'That is your current name.';
            }
            if (this.errFirstName || this.errLastName) {
                return;
            }
            const currentName = {
                                    firstName: this.userInfo.firstName,
                                    lastName: this.userInfo.lastName,
                                } as IName;
            const newName = {
                                firstName: this.firstName,
                                lastName: this.lastName,
                            } as IName;
            await this.$refs.confirmChange.show(currentName, newName);
        }
    }
</script>