<template>
    <div v-bind:class="{'is-active': modal}" class="modal">
        <div @click="modal=false" class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                <form @submit="applyNameChange" class="field columns is-centered">
                    <div class="column is-half-desktop is-full-mobile is-two-thirds-tablet">
                        <span class="subtitle is-6 has-text-info">Confirm name change</span>
                        <hr class="modal-header-seperator">
                        <div class="field">
                            <label>Current Name</label>
                            <input v-model="getCurrentName" class="input control" type="text" disabled>
                        </div>
                        <div class="field">
                            <label>New Name</label>
                            <input v-model="getNewName" class="input control" type="text" disabled>
                        </div>
                        <div class="field is-grouped">
                            <p class="control">
                                <button @click="applyNameChange" class="is-button button is-info is-outlined">Apply Changes</button>
                            </p>
                            <p class="control">
                                <a @click="modal=false" class="is-button button">Cancel</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        changeName,
    } from '@/core/FBUpdateMethods';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        IName,
    } from './ChangeName.vue';
    import ModalSkeleton from '@/components/settings/profile/ModalSkeleton.vue';

    @Component({
        components: {
            ModalSkeleton,
        },
    })
    export default class ConfirmNameChange extends ModalSkeleton {
        private currentName: IName = {
            firstName: '',
            lastName: '',
        };
        private newName: IName = {
            firstName: '',
            lastName: '',
        };

        public show(currentName: IName, newName: IName) {
            this.currentName = currentName;
            this.newName = newName;
            this.modal = true;
        }

        private async applyNameChange(element: HTMLFormElement) {
            element.preventDefault();
            const uid = this.$store.state.uid;
            await changeName(uid, this.newName.firstName, this.newName.lastName);
            this.modal = false;
            getUserInfo(this.$store.state.uid, true); // refresh user info in browser cache.
        }

        private get getNewName() {
            return this.newName.firstName + ' ' + this.newName.lastName;
        }

        private get getCurrentName() {
            return this.currentName.firstName + ' ' + this.currentName.lastName;
        }
    }
</script>