<template>
    <div>
        <form @submit="validateForm" class="container" style="padding: 1rem;">
            <div class="field columns is-centered">
                <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                    <div class="card-content" style="padding-top: 1rem;">
                        <span class="subtitle is-5 has-text-info">Edit Email</span>
                        <hr style="margin-top :0.5rem;">
                            <label>Email</label>
                            <div class="field">
                                <input v-model="email" class="input control" type="email" placeholder="Email Adrress">
                            </div>
                            <div class="field">
                                <label>Confirm Email</label>
                                <input v-model="emailConfirm" class="input control" type="email" placeholder="Confirm Email Adrress">
                                <p class="help is-danger">{{ errEmail }}</p>
                            </div>
                            <button class="is-button button is-info is-outlined">Update Email</button>
                    </div>
                </div>
            </div>
        </form>
        <ConfirmEmailChange ref="confirmChange"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        checkUserByEmail,
    } from '@/core/FBUpdateMethods';
    import {
        IUser,
    } from '@/core/AppConfig';
    import ConfirmEmailChange from './ConfirmEmailChange.vue';
    @Component({
        components: {
            ConfirmEmailChange,
        },
    })
    export default class ChangeEmail extends Vue {
        public $refs!: {
            confirmChange: ConfirmEmailChange,
        };
        private userInfo!: IUser;
        private uid!: string;
        private email: string = '';
        private emailConfirm: string = '';
        private errEmail: string = '';

        private async beforeCreate() {
            this.uid = this.$store.state.uid;
            this.userInfo = await getUserInfo(this.uid);
            this.email = this.userInfo.email;
            this.emailConfirm = this.userInfo.email;
            this.$on('emailChanged', async () => {
                this.userInfo = await getUserInfo(this.uid, true);
            });
        }

        private async validateForm(element: HTMLFormElement) {
            this.errEmail = '';
            element.preventDefault();
            if (this.email !== this.emailConfirm) {
                this.errEmail = 'Emails don\'t match';
                return;
            }
            if (this.userInfo.email === this.email) {
                this.errEmail = 'That is your current email address.';
                return;
            }

            const userExists = await checkUserByEmail(this.email);
            if (userExists) {
                this.errEmail = 'Email address is taken.';
                return;
            }

            this.$refs.confirmChange.show(this.userInfo.email, this.email);
        }
    }
</script>