<template>
    <div v-bind:class="{'is-active': modal}" class="modal">
        <div @click="modal=false" class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                <form @submit="applyEmailChange" class="field columns is-centered">
                    <div class="column is-half-desktop is-full-mobile is-two-thirds-tablet">
                        <span class="subtitle is-6 has-text-info">Enter password to change email</span>
                        <hr class="modal-header-seperator">
                        <div class="field">
                            <label>Verify Password</label>
                            <input v-model="password" class="input control" type="password" placeholder="Password">
                            <p class="help is-danger">{{ errPassword }}</p>
                        </div>
                        <div class="field is-grouped">
                            <p class="control">
                                <button @click="applyEmailChange" class="is-button button is-info is-outlined">Apply Changes</button>
                            </p>
                            <p class="control">
                                <a @click="modal=false" class="is-button button">Cancel</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        verifyPassword,
        changeEmail,
    } from '@/core/FBUpdateMethods';
    import ModalSkeleton from '@/components/settings/profile/ModalSkeleton.vue';

    @Component({
        components: {
            ModalSkeleton,
        },
    })
    export default class ConfirmNameChange extends ModalSkeleton {
        private user!: firebase.User;
        private currEmail: string = '';
        private newEmail: string = '';
        private password: string = '';
        private errPassword: string = '';

        /**
         * @param currEmail user's current email address.
         * @param newEmail user's new email address.
         * @returns void promise if change was successful otherwise rejects with error string.
         */
        public show(currEmail: string, newEmail: string) {
            this.password = '';
            this.currEmail = currEmail;
            this.newEmail = newEmail;
            this.modal = true;
        }

        private async applyEmailChange(element: HTMLFormElement) {
            this.errPassword = '';
            element.preventDefault();
            this.user = await verifyPassword(this.currEmail, this.password).catch((err) => {
                this.errPassword = 'Invalid password.';
            }) as firebase.User;

            if (!this.errPassword) {
                await changeEmail(this.user, this.newEmail);
                this.$parent.$emit('emailChanged');
                this.modal = false;
            }
        }
    }
</script>