<template>
    <div>
        <div class="column is-half is-offset-one-quarter">
            <form @submit="search" class="field has-addons has-addons-right">
                <p class="control">
                    <span class="select">
                        <select v-model="selectedOption">
                            <option value="email">Email</option>
                            <option value="phone">Phone</option>
                        </select>
                    </span>
                </p>
                <p class="control is-expanded">
                    <input v-model="searchInput" class="input is-fullwidth" type="text" placeholder="Search User">
                </p>
                <p class="control">
                    <button class="button is-info" style="width: 5rem;">
                        Search
                    </button>
                </p>
            </form>
        </div>
        <Result ref="resultComponent"/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Prop,
        Vue,
    } from 'vue-property-decorator';

    import Result from './SearchResult.vue';
    import {
        getUserByEmail,
        getUserByPhone,
    } from '@/core/FirebaseMethods';
    import {
        IUser,
    } from '@/core/AppConfig';

    @Component({
        components: {
            Result,
        },
    })
    export default class Search extends Vue {
        public $refs!: {
            resultComponent: Result,
        };
        private selectedOption: string = 'email';
        private searchInput: string = '';

        protected async search(element: HTMLFormElement) {
            element.preventDefault();
            if (this.selectedOption === 'email') {
                this.searchEmail();
                return;
            }
            if (this.selectedOption === 'phone') {
                this.searchPhone();
                return;
            }
        }

        private async searchEmail() {
            const users: IUser[] = await getUserByEmail(this.searchInput.toLowerCase()).catch((err) => {
                console.log(err);
                this.$refs.resultComponent.notFound();
                return;
            }) as IUser[];

            if (users) {
                await this.$refs.resultComponent.found(users[0].uid, users[0].firstName, users[0].lastName);
            } else {
                this.$refs.resultComponent.notFound();
            }
        }

        private async searchPhone() {
            const users: IUser[] = await getUserByPhone(this.searchInput.replace(/\D/g, '')).catch((err) => {
                console.log(err);
                this.$refs.resultComponent.notFound();
                return;
            }) as IUser[];

            if (users) {
                await this.$refs.resultComponent.found(users[0].uid, users[0].firstName, users[0].lastName);
            } else {
                this.$refs.resultComponent.notFound();
            }
        }
    }
</script>