<template>
    <div>
        <div class="columns is-centered" style="margin: 1rem;">
            <div v-if="data" class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                <div class="card-content">
                    <div v-if="isFound" class="media">
                        <div class="media-left">
                            <figure class="image is-72x72">
                                <img src="https://bulma.io/images/placeholders/96x96.png">
                            </figure>
                        </div>
                        <div class="level media-content">
                            <div class="level-left">
                                <p class="title is-4">{{data.firstName}} {{data.lastName}}</p>
                            </div>
                            <div v-if="uid != data.searchedUID" class="level-right">
                                <a v-if="!addedMe && addedByMe" @click="deleteFriend" class="button is-danger is-outlined">
                                    <span>Cancel Request</span>
                                    <span class="icon is-small">
                                        <i class="icon ion-md-close" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <div v-if="addedMe && addedByMe && !isSelf" class="field has-addons">
                                    <p class="control">
                                        <a class="button is-success is-outlined">
                                            <span>View Profile</span>
                                            <span class="icon is-small">
                                                <i class="icon ion-md-checkmark" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a @click="deleteFriend" class="button is-danger is-outlined">
                                            <span class="icon is-small">
                                                <i class="icon ion-md-close" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </p>
                                </div>

                                <div v-if="addedMe && !addedByMe && !isSelf" class="field has-addons">
                                    <p class="control">
                                        <a @click="addFriend" :disabled="!hasPrivateKey" class="button is-success is-outlined">
                                            <span>Confirm Request</span>
                                            <span class="icon is-small">
                                                <i class="icon ion-md-checkmark" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a @click="deleteFriend" class="button is-danger is-outlined">
                                            <span class="icon is-small">
                                                <i class="icon ion-md-close" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </p>
                                </div>

                                <a v-if="!addedMe && !addedByMe && !isSelf" @click="addFriend" :disabled="!hasPrivateKey" class="button is-info is-outlined">
                                    <span>Add Friend</span>
                                    <span class="icon is-small">
                                        <i class="icon ion-md-add" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 v-else class="subtitle is-4">Sorry, no users were isFound.</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        checkFriendSQL,
        addFriendSQL,
        deleteFriendSQL,
    } from '@/core/SQLMethods';
    import {
        getPublicKey,
        getSharedKey,
        saveSharedKey,
        getLocalSymmetricKey,
        getPublicAndSymmetricKey,
        deleteSharedKey,
    } from '@/core/FirebaseMethods';
    import {
        stringToArray,
        retrievePrivateKey,
        IEncryptedPackage,
        decryptSharedKey,
        encryptSharedKey,
        decryptData,
    } from '@/core/Cryptography';

    interface ISearchResultData {
        searchedUID?: string;
        firstName?: string;
        lastName?: string;
    }

    @Component
    export default class SearchResult extends Vue {
        private hasPrivateKey: boolean = this.$store.state.hasPrivateKey;
        private isFound: boolean = false;
        private data: ISearchResultData | null = null;
        private uid: string = this.$store.state.uid;

        private isSelf = false;
        private addedMe: boolean = false;
        private addedByMe: boolean = false;

        public async found(searchedUID: string, firstName: string, lastName: string) {
            this.data = {};
            this.data.searchedUID = searchedUID;
            this.data.firstName = firstName;
            this.data.lastName = lastName;

            this.isFound = true;
            if (this.uid === this.data.searchedUID) {
                this.isSelf = true;
                return;
            } else {
                this.isSelf = false;
            }
            const friendship: any = await checkFriendSQL(this.uid, this.data.searchedUID)
            .catch((err) => {
                console.log(err);
            });
            this.addedMe = friendship.AddedMe || false;
            this.addedByMe = friendship.AddedByMe || false;
        }

        public notFound() {
            this.data = {};
            this.isFound = false;
        }

        private async addFriend() {
            const publicAndSymmetricKeys = await getPublicAndSymmetricKey(this.uid).catch((err) => {
                console.log('Something went wrong when getting my public key');
            });
            const myPublicKey = stringToArray(publicAndSymmetricKeys!.publicKey as string);
            const localSymmetricKey = stringToArray(publicAndSymmetricKeys!.localSymmetricKey as string);

            const myPrivateKeyPackage = await retrievePrivateKey(this.uid).catch((err) => {
                console.log('Something went wrong when retrieving my private key');
            }) as IEncryptedPackage;

            const myPrivateKey = decryptData(myPrivateKeyPackage, localSymmetricKey) as Uint8Array;

            const myEncryptedSharedKeyPackage = await getSharedKey(this.uid, this.uid)
            .catch((err) => {
                console.log('Something went wrong when getting my shared key');
            }) as IEncryptedPackage;
            const mySharedKey = decryptSharedKey(myEncryptedSharedKeyPackage, myPublicKey, myPrivateKey) as Uint8Array;

            let friendPublicKey: string | Uint8Array = await getPublicKey((this.data as
            ISearchResultData).searchedUID as string)
            .catch((err) => {
                console.log('Something went wrong when getting friend\'s public key');
            }) as string;
            friendPublicKey = stringToArray(friendPublicKey);

            const encryptedSharedKeyForFriend = encryptSharedKey(mySharedKey, friendPublicKey, myPrivateKey);
            await saveSharedKey(this.uid, (this.data as ISearchResultData).searchedUID as string,
            encryptedSharedKeyForFriend)
            .catch((err) => {
                console.log('Something went wrong saving my shared key to friend\'s account');
            });

            await addFriendSQL(this.uid, (this.data as ISearchResultData).searchedUID as string);
            this.addedByMe = true;
        }

        private async deleteFriend() {
            await deleteSharedKey(this.uid, (this.data as ISearchResultData).searchedUID as string);
            await deleteFriendSQL(this.uid, (this.data as ISearchResultData).searchedUID as string);

            this.addedByMe = false;
            this.addedMe = false;
        }
    }
</script>