<template>
    <div>
        <nav class="navbar navbar-item tabs is-fixed-top">
            <ul class="is-left">
                <li>
                    <router-link :to="{name: 'home'}">
                        <span class="icon ">
                            <i class="icon ion-md-arrow-back" aria-hidden="true"></i>
                        </span>
                        <span>Home</span>
                    </router-link>
                </li>
                <li v-bind:class="{ 'is-active': selection.profile}">
                    <a @click="select('settings')">
                        <span class="icon ">
                            <i class="icon ion-md-clipboard" aria-hidden="true"></i>
                        </span>
                        <span>Edit Profile</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active': selection.keys}">
                    <a @click="select('keys')">
                        <span class="icon ">
                            <i class="icon ion-md-key" aria-hidden="true"></i>
                        </span>
                        <span>Key Management</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';

    interface ISelection {
        profile: boolean;
        keys: boolean;
    }

    @Component
    export default class Navbar extends Vue {
        private selection: ISelection = {
            profile: true,
            keys: false,
        };
        private beforeMount() {
            if (this.$route.path.startsWith('/settings/keys')) {
                this.selection.profile = false;
                this.selection.keys = true;
            } else {
                this.selection.profile = true;
                this.selection.keys = false;
            }
        }
        private select(selection: string) {
            if (selection === 'keys') {
                this.selection.profile = false;
                this.selection.keys = true;
                this.$router.push({name: 'keys'});
            } else {
                this.selection.profile = true;
                this.selection.keys = false;
                this.$router.push({name: 'settings'});
            }
        }
    }
</script>