<template>
    <div id="messages" class="box container is-desktop">
        <div class="columns">
            <div class="container column" style="min-height:100%; min-height: 100%">
                <nav id="messagePanel" class="panel">
                    <p class="panel-heading">
                        Friends
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search">
                            <span class="icon is-small is-left">
                                <i class="icon ion-ios-search" aria-hidden="true"></i>

                            </span>
                        </p>
                    </div>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        bulma
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        marksheet
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        minireset.css
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        daniellowtw/infboard
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                </nav>
            </div>

            <div class="container column is-three-quarters">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus esse quaerat maxime, culpa quis animi et
                nobis voluptas sunt placeat voluptate ratione natus optio! Eligendi esse asperiores quam ipsa soluta.
            </div>

        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Prop,
        Vue,
    } from 'vue-property-decorator';

    @Component
    export default class Messages extends Vue {}
</script>