<template>
    <div class="columns is-centered">
        <div class="column box is-full-tablet is-three-fifths-desktop is-shadowless">
            <div class="columns is-centered is-gapless">
                <div class="column " style="max-width: 200px; margin-left: 2rem;">
                    <div class="media">
                        <p class="image is-200x200">
                            <img src="http://via.placeholder.com/200x200">
                        </p>
                    </div>
                </div>
                <div class="column" style="margin-left: 2rem">
                    <h3 class="subtitle is-3">{{ getFull }}</h3>
                    <div v-if="!editingHeader">
                        <h6 class="subtitle is-6">{{ getHeader }}</h6>

                        <div class="field is-grouped">
                            <div class="control">
                                <button @click="editingHeader = true" class="button is-link is-outlined">Edit Header</button>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="field">
                            <div class="control">
                                <textarea v-model="getHeader" class="textarea" placeholder="What's the move?"></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button @click="editingHeader = false" class="button is-link is-outlined">Save Header</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
        Prop,
    } from 'vue-property-decorator';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        IUser,
    } from '@/core/AppConfig';
    import {
        getUserInfoLocally,
    } from '@/core/IDBMethods';

    @Component
    export default class Header extends Vue {
        private uid: string = this.$store.state.uid;
        private header: string = 'Hello';
        private firstName: string = '';
        private lastName: string = '';
        private editingHeader: boolean = false;

        private async beforeMount() {
            const userInfo = await getUserInfo(this.uid).catch((err) => {
                console.log('Something went wrong getting your info using uid.');
            }) as IUser;
            this.firstName = userInfo.firstName;
            this.lastName = userInfo.lastName;
        }

        private get getFull() {
            return this.firstName + ' ' + this.lastName;
        }

        private get getHeader() {
            return this.header;
        }
    }
</script>