<template>
    <div style="margin: 1rem;">
        <Header/>
        <Tabs/>
        <router-view></router-view>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import Header from './Header.vue';
    import PostContainer from './posts/PostContainer.vue';
    import Tabs from './Tabs.vue';

    @Component({
        components: {
            Header,
            PostContainer,
            Tabs,
        },
    })
    export default class Profile extends Vue {}
</script>
