<template>
    <div class="tabs is-fullwidth">
        <ul>
            <li @click="select('posts')" v-bind:class="{ 'is-active' :  this.selection.posts}">
                <a>
                    <span>Posts</span>
                </a>
            </li>
            <li @click="select('media')" v-bind:class="{ 'is-active' :  this.selection.media}">
                <a>
                    <span>Media</span>
                </a>
            </li>
            <li @click="select('friends')" v-bind:class="{ 'is-active' :  this.selection.friends}">
                <a>
                    <span>Friends</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
        Prop,
    } from 'vue-property-decorator';

    interface ISelection {
        posts: boolean;
        media: boolean;
        friends: boolean;
    }
    @Component
    export default class Tabs extends Vue {
        @Prop() private uid!: string;

        private selection: ISelection = {
            posts: true,
            media: false,
            friends: false,
        };

        private select(tab: string) {
            if (tab === 'media') {
                this.selection.posts = false;
                this.selection.media = true;
                this.selection.friends = false;
                this.$router.push({name: 'media', params: {uid: this.uid}});
            } else if (tab === 'friends') {
                this.selection.posts = false;
                this.selection.media = false;
                this.selection.friends = true;
                this.$router.push({name: 'friends', params: {uid: this.uid}});
            } else {
                this.selection.posts = true;
                this.selection.media = false;
                this.selection.friends = false;
                this.$router.push({name: 'profile', params: {uid: this.uid}});
            }
        }

        private beforeMount() {
            if (this.$route.path.startsWith('/dashboard/profile/media')) {
                this.selection.posts = false;
                this.selection.media = true;
                this.selection.friends = false;
            } else if (this.$route.path.startsWith('/dashboard/profile/friends')) {
                this.selection.posts = false;
                this.selection.media = false;
                this.selection.friends = true;
            } else {
                this.selection.posts = true;
                this.selection.media = false;
                this.selection.friends = false;
            }
        }
    }
</script>