<template>
    <div>
        <Navbar/>
        <div class="spacer6"></div>
        <div class="columns is-centered">
            <div class="box column is-full" style="width: 24rem;">
                <div class="columns is-centered">
                    <div class="tabs is-toggle">
                        <ul>
                            <li @click="select('login')" v-bind:class="{ 'is-active' : this.loginSelected}">
                                <a style="width: 11rem">
                                    <span class="icon is-small">
                                        <i class="icon ion-md-log-in" aria-hidden="true"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                            </li>
                            <li @click="select('register')" v-bind:class="{ 'is-active' : this.registerSelected}">
                                <a style="width: 11rem">
                                    <span class="icon is-small">
                                        <i class="icon ion-md-person-add" aria-hidden="true"></i>
                                    </span>
                                    <span>Register</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <LoginForm v-if="this.loginSelected" />
                <RegisterForm v-if="this.registerSelected" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Prop,
        Vue,
    } from 'vue-property-decorator';

    import Navbar from './Navbar.vue';
    import RegisterForm from './RegisterForm.vue';
    import LoginForm from './LoginForm.vue';

    @Component({
        components: {
            Navbar,
            LoginForm,
            RegisterForm,
        },
    })

    export default class LoginRegister extends Vue {
        protected loginSelected = true;
        protected registerSelected = false;

        protected select(tab: string) {
            if (tab === 'login') {
                this.registerSelected = false;
                this.loginSelected = !this.registerSelected;
            } else {
                this.loginSelected = false;
                this.registerSelected = !this.loginSelected;
            }
        }
    }
</script>