<template>
    <form @submit="login">
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
                <input v-model="email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-mail"></i>
                </span>
            </p>
            <p class="help is-danger">{{ errEmail }}</p>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input v-model="password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-key"></i>
                </span>
            </p>
            <p class="help is-danger">{{ errPassword }}</p>

        </div>

        <div class="field">
            <p class="control">
                <button class="button is-info" style="width: 5rem;">
                    Login
                </button>
            </p>
        </div>
    </form>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue,
} from 'vue-property-decorator';

import {
    auth,
} from '@/core/AppConfig';


@Component
export default class LoginForm extends Vue {

    private email: string = '';
    private password: string = '';
    private errEmail: string = '';
    private errPassword: string = '';

    /**
     * Gets called on login button click
     * @param {HTMLFormElement} element Form element to be validated.
     */
    private async login(element: HTMLFormElement) {
        element.preventDefault();
        if (!this.validateForm()) {
            return;
        }
        const email = this.email.toLowerCase();
        const userCredential = await auth.signInWithEmailAndPassword(email, this.password).catch((err) => {
            switch (err.code.toString()) {
                case 'auth/user-disabled': {
                    this.errEmail = 'Your account has been disabled.';
                    break;
                }
                default: {
                    this.errPassword = 'The email and password do not match.';
                    break;
                }
            }
        }) as firebase.auth.UserCredential;
        if (this.errEmail || this.errPassword) {
            return;
        }
        this.$store.commit('setUID', (userCredential.user as firebase.User).uid);
        this.$router.push({name: 'home'});
    }

    /**
     * Validates login form
     * @param {HTMLFormElement} element Form element to be validated.
     * @returns {boolean} Return whether the form is valid or not.
     */
    private validateForm() {
        this.errEmail = this.errPassword = '';
        if (!this.email) {
            this.errEmail = 'Email is required.';
        }
        if (!this.password) {
            this.errPassword = 'Password is required.';
        }

        return !(this.errEmail || this.errPassword);
    }
}
</script>