<template>
    <nav id="navBar" class="navbar is-fixed-top is-light">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src='../../assets/logo.png'>
            </a>
        </div>
    </nav>
</template>

<script lang="ts">
import {
    Component,
    Vue,
} from 'vue-property-decorator';

@Component
export default class Navbar extends Vue {}
</script>