<template>
    <form @submit="registerPressed">
        <div class="field">
            <label class="label">Name</label>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input v-model="data.firstName" class="input" type="text" placeholder="First Name">
                    </p>
                    <p class="help is-danger">{{ error.firstName }}</p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input v-model="data.lastName" class="input" type="text" placeholder="Last Name">
                    </p>
                    <p class="help is-danger">{{ error.lastName }}</p>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
                <input v-model="data.email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-mail"></i>
                </span>
            </p>
            <p class="help is-danger">{{ error.email }}</p>
        </div>

        <div class="field">
            <label class="label">Phone (Optional)</label>
            <p class="control has-icons-left has-icons-right">
                <input v-model="data.phone" class="input" type="text" placeholder="Phone Number">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-call"></i>
                </span>
            </p>
            <p class="help is-danger">{{ error.phone }}</p>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input v-model="data.password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-key"></i>
                </span>
            </p>
            <p class="help is-danger">{{ error.password }}</p>
        </div>
        <div class="field">
            <label class="label">Confirm Password</label>
            <p class="control has-icons-left">
                <input v-model="data.passwordConfirm" class="input" type="password" placeholder="Retype Password">
                <span class="icon is-small is-left">
                    <i class="icon ion-md-key"></i>
                </span>
            </p>
            <p class="help is-danger">{{ error.passwordConfirm }}</p>
        </div>

        <div class="field">
            <p class="control">
                <button class="button is-info" style="wv-modelth: 5rem;">
                    Register
                </button>
            </p>
        </div>
    </form>
</template>

<script lang="ts">
    import * as fb from 'firebase';
    import {
        Component,
        Prop,
        Vue,
    } from 'vue-property-decorator';

    import {
        db,
        auth,
    } from '@/core/AppConfig';

    import {
        saveUserInfo,
        savePublicAndLocalSymmetricKey,
        saveSharedKey,
    } from '@/core/FirebaseMethods';
    import {
        addFriendSQL,
    } from '@/core/SQLMethods';
    import {
        generateSharedKey,
        generateKeyPair,
        encryptSharedKey,
        storePrivateKey,
        arrayToString,
        encryptData,
    } from '@/core/Cryptography';

    interface IRegisterData {
        firstName?: string;
        lastName?: string;
        email?: string;
        phone?: string;
        password?: string;
        passwordConfirm?: string;
    }

    interface IError {
        firstName?: string;
        lastName?: string;
        email?: string;
        phone?: string;
        password?: string;
        passwordConfirm?: string;
        hasErr: boolean;
    }

    @Component
    export default class RegisterForm extends Vue {

        protected data: IRegisterData = {};

        protected error: IError = {
            hasErr: false,
        };

        protected async registerPressed(element: HTMLFormElement) {
            element.preventDefault();
            if (this.validateForm(element)) {
                const user = await
                auth.createUserWithEmailAndPassword((this.data.email as string).toLowerCase(),
                this.data.password as string)
                .catch((error) => {
                    switch (error.code.toString()) {
                        case 'auth/invalid-email':
                            this.error.email = 'The email address is invalid.';
                            this.error.hasErr = true;
                            break;
                        case 'auth/weak-password':
                            this.error.password = 'Password must be at least 6 characters long.';
                            this.error.hasErr = true;
                            break;
                        case 'auth/email-already-in-use':
                            this.error.email = 'Email address is already in use.';
                            this.error.hasErr = true;
                            break;
                        default:
                            this.error.email = 'Could not validate inputs.';
                            this.error.hasErr = true;
                            break;
                    }
                }) as fb.auth.UserCredential;

                await this.setUpAccount((user.user as fb.User).uid);
                this.$router.push('/dashboard');
            }
        }

        private validateForm(element: HTMLFormElement) {
            this.error = {
                hasErr: false,
            };

            if (!this.data.firstName) {
                this.error.firstName = 'First name is required.';
                this.error.hasErr = true;
            }
            if (!this.data.lastName) {
                this.error.lastName = 'First name is required.';
                this.error.hasErr = true;

            }
            if (!this.data.email) {
                this.error.email = 'Email is required.';
                this.error.hasErr = true;

            }
            if (!this.data.password) {
                this.error.password = 'Password is required.';
                this.error.hasErr = true;

            } else if (this.data.password.length < 6) {
                this.error.password = 'Password must be at least 6 characters long.';
                this.error.hasErr = true;

            }
            if (!this.data.passwordConfirm) {
                this.error.passwordConfirm = 'Please confirm your password.';
                this.error.hasErr = true;

            } else if (this.data.password !== this.data.passwordConfirm) {
                this.error.passwordConfirm = 'Passwords do not match.';
                this.error.hasErr = true;

            }
            if (this.data.phone) {
                this.data.phone = this.data.phone.replace(/\D/g, '');
                if (this.data.phone.length < 5) {
                    this.error.phone = 'Phone number is too short.';
                    this.error.hasErr = true;

                }
            }
            if (this.error.hasErr) {
                return false;
            }
            return true;
        }

        /**
         * Saves keys to firebase and indexedDB on account creation
         *
         * @param {string} uid User ID
         */
        private async setUpAccount(uid: string) {
            const sharedKey: Uint8Array = generateSharedKey();
            const keyPair = generateKeyPair();

            const encryptedSharedKeyPackage = encryptSharedKey(sharedKey, keyPair.publicKey, keyPair.secretKey);

            await saveUserInfo(uid, (this.data.email as string).toLowerCase(), this.data.firstName as string,
                this.data.lastName as string, this.data.phone).catch((err) => {
                console.log('Something went wrong when saving email');
            });
            await saveSharedKey(uid, uid, encryptedSharedKeyPackage).catch((err) => {
                console.log('Something went wrong when saving shared key');
            });
            await addFriendSQL(uid, uid).catch((err) => {
                console.log('Something went wrong when adding myself to friends list');
            });
            // used for encrypting private key before saving it locally.
            const localSymmetricKey = generateSharedKey();
            await savePublicAndLocalSymmetricKey(uid, keyPair.publicKey, localSymmetricKey).catch((err) => {
                console.log('Something went wrong when saving email');
            });

            const encryptedPrivateKeyPackage = encryptData(keyPair.secretKey, localSymmetricKey);
            const encryptedPrivateKey = arrayToString(encryptedPrivateKeyPackage.encryptedData);
            const nonce = arrayToString(encryptedPrivateKeyPackage.nonce);
            await storePrivateKey(uid, encryptedPrivateKey, nonce).catch((err) => {
                                    console.log('Couldn\'t save my private key locally.');
                                });
        }
    }
</script>