<template>
    <form @submit="validatePassword" class="container" style="padding: 1rem;">
        <div class="field columns is-centered">
            <div class="card column is-half-desktop is-full-mobile is-two-thirds-tablet">
                <div class="card-content" style="padding-top: 1rem;">
                    <span class="subtitle is-5 has-text-info">Change Public Key-Pair</span>
                    <hr style="margin-top :0.5rem;">
                        <div class="field">
                            <label>Verify Password</label>
                            <input v-model="password" class="input control" type="password" placeholder="Password">
                            <p class="help is-danger">{{ errPassword }}</p>
                        </div>
                        <button class="is-button button is-info is-outlined">Generate New Keys</button>
                </div>
            </div>
        </div>
    </form>
</template>


<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import {
        verifyPassword,
    } from '@/core/FBUpdateMethods';
    import {
        IUser,
    } from '@/core/AppConfig';
    import {
        getUserInfo,
    } from '@/core/GlobalMethods';
    import {
        getSharedKey,
    } from '@/core/FirebaseMethods';

    @Component
    export default class PublicKeys extends Vue {
        private password: string = '';
        private errPassword: string = '';
        private uid!: string;
        private userInfo!: IUser;

        private async beforeCreate() {
            this.uid = this.$store.state.uid;
            this.userInfo = await getUserInfo(this.uid);
        }

        private async validatePassword(element: HTMLFormElement) {
            element.preventDefault();
            this.errPassword = '';
            if (!this.password) {
                this.errPassword = 'Password is required.';
                return;
            }
            const user = await verifyPassword(this.userInfo.email, this.password).catch((err) => {
                this.errPassword = 'Invalid password.';
                console.log('Couldn\'t verify password');
            });
            if (!user || this.errPassword) {
                return;
            }
            await this.generateNewKeys();
        }

        private async generateNewKeys() {
            const myCurrSharedKeyPackage = await getSharedKey(this.uid, this.uid);
        }
    }
</script>
