<template>
    <div>
        <PublicKeys/>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import PublicKeys from './PublicKeys.vue';

    
    @Component({
        components: {
            PublicKeys,
        },
    })
    export default class SettingsContainer extends Vue {}
</script>