<template>
    <div>
        <!-- <template v-for="post in posts">
            <Post :key="post.id" :firstName="post.firstName" :lastName="post.lastName" :date="post.date" :postContent="post.content"/>
        </template> -->
        <button @click="f">Media</button>
    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
        Prop,
    } from 'vue-property-decorator';
    import {
        IPost,
    } from '@/core/AppConfig';
    import {
        getUserPostsSQL,
    } from '@/core/SQLMethods';

    @Component
    export default class MediaContainer extends Vue {
        private uid!: string;
        private postIDs: string[] = [];
        private posts: IPost[] = [];
        private offset = 0;
        private increment = 10;
        private myPrivateKey!: Uint8Array;
        private myPublicKey!: Uint8Array;
        private decoder = new TextDecoder();

        private beforeMount() {
            this.uid = this.$route.params.uid;
        }
        private f() {
            console.log(this.uid);
        }
    }
</script>

