<template>
    <div id="Kelp">
        <link href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet">
        <router-view/>
    </div>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
        Watch,
    } from 'vue-property-decorator';

    interface IData {
        message: string;
        hello: string;
        sample: string;
    }

    export default class Kelp extends Vue {}
</script>

<style lang="scss">
    @import "./src/styles/bulma.sass"
</style>