<template>
    <div>
        <ChangeName/>
        <ChangeEmail/>
        <ChangePassword/>

    </div>
</template>

<script lang="ts">
    import {
        Component,
        Vue,
    } from 'vue-property-decorator';
    import ChangeName from './name/ChangeName.vue';
    import ChangeEmail from './email/ChangeEmail.vue';
    import ChangePassword from './password/ChangePassword.vue';


    
    @Component({
        components: {
            ChangeName,
            ChangeEmail,
            ChangePassword,
        },
    })
    export default class SettingsContainer extends Vue {}
</script>