@import "sass/utilities/initial-variables"

.spacer1
    height: 1rem

.spacer2
    height: 2rem

.spacer3
    height: 3rem

.spacer4
    height: 4rem

.spacer5
    height: 5rem

.spacer6
    height: 6rem

.danger-tab
    color: $red !important
    
.danger-tab:hover
    color: $red !important

.warning-tab
    color: $orange !important
    
.warning-tab:hover
    color: $orange !important

.modal-card-title
    font-size: 1rem !important

.hr-margin1
    margin-bottom: 1rem !important
    margin-top: 0 !important

.modal-header-seperator
    margin-top: 0.5rem
    margin-bottom: 0.5rem

$modal-card-head-background-color: $white !default

